#container{
  border: 5px solid #313131;
  outline: 12px solid #B0B0B0;
  max-width: 400px;
  aspect-ratio: 1;
  border-radius: 0;


  background-image: url("../../../assets/img/Fondo_Card_Pokemon.webp");
  background-repeat: no-repeat;
  background-attachment:inherit;
  background-size: cover;

  img{
    width: 100%;
    image-rendering: pixelated;
  }
}
